

.footer{
    padding: 40px 0 0;
    background: rgb(31, 31, 31);
}


.footer-col{
    margin: 0 auto!important;
}
.footer-title{
    font-weight: 600;
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}
.footer-li{
    color: rgb(192, 192, 192);
    font-weight: 400;
    font-size: 14px;
    margin: 6px 0;
    cursor: pointer;
}